name: Issue Checklist Checker
on: issues
jobs:
  build:
    name: Check Checklist
    runs-on: ubuntu-latest    
    steps:
    - uses: "adamzolyak/checklist-checker-action@master"
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
